:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b1320;
  color: #dde3f7;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0b1320;
}

#root {
  min-height: 100vh;
}
